<md-toolbar layout="row">
	
	<h2>Story Game Maker</h2>
	
	<md-button class="md-fab" aria-label="Close">
		<md-icon ui-sref="home">highlight_off</md-icon>
	</md-button>

</md-toolbar>

<div ng-switch="$ctrl.loader.isLoading">
	<div ng-switch-when="true">
		Waiting for load
	</div>
	<div ng-switch-when="false">
		<story-message-player story="$ctrl.loader.story" 
								is-complete="$ctrl.isPlayerComplete"/>
	</div>	
</div>

<md-button class="md-raised"
			ng-show="$ctrl.isPlayerComplete" 
			ui-sref="home">Home</md-button>