<md-toolbar>
	<h2>Story Game Maker</h2>
</md-toolbar>

<md-button class="md-raised" ui-sref="create-story">Create New Story</md-button>

<br>OR</br>

Select a story to view or play
<div ng-switch="$ctrl.loader.isLoading">
	<div ng-switch-when="true">
		Waiting for load
	</div>

	<ul ng-switch-when="false">
		<story-metadata-browser stories-metadata="$ctrl.loader.storiesMetadata"/>
	</ul>
</div>