<div layout="row">
	<div flex layout="row" class="story-action">	
		<subscene-element-editor-switch element="$ctrl.subscene.action"
									on-element-clicked="$ctrl.onElementClicked"/>	
	</div>
	
	<div flex layout="row" class="story-reactions" layout-align="end">
		<subscene-element-editor-switch ng-repeat="reaction in $ctrl.subscene.reactions" 
							element="reaction"
							on-element-clicked="$ctrl.onElementClicked"/>
	</div>
</div>