<div>
	<validated-text-input type="'field'"
				label="'Title'"
				ng-model="$ctrl.metadata.title"
				placeholder="$ctrl.metadataHelp.title"
				minlength="5"
	       		maxlength="50"
	       		required/>
</div>

<span>		
	{{$ctrl.outline.preCategory}}

	<validated-select label="'Category'" 
		ng-model="$ctrl.metadata.category" 
		options="$ctrl.metadataOptions.category"
		required="true"/>

	{{$ctrl.outline.postCategory}}

	<validated-select label="'Skill'" 
		ng-model="$ctrl.metadata.skill" 
		options="$ctrl.metadataOptions.skill"
		required="true"/>

	{{$ctrl.outline.postSkill}}

	<validated-select label="'Location'" 
		ng-model="$ctrl.metadata.location" 
		options="$ctrl.metadataOptions.location"
		required="true"/>

	{{$ctrl.outline.postLocation}}
</span>	

<div>
	<validated-text-input type="'field'"
		label="'Author'"
		ng-model="$ctrl.metadata.author"
		placeholder="$ctrl.metadataHelp.author"
		minlength="3"
		maxlength="50"
		required/>
</div>