<md-toolbar layout="row">
	
	<h2>Story Game Maker</h2>
	
	<md-button class="md-fab" aria-label="Close">
		<md-icon ui-sref="home">highlight_off</md-icon>
	</md-button>

</md-toolbar>

<story-tree-creator></story-tree-creator>