<span ng-switch="$ctrl.element._type">
	<subscene-choice-action ng-switch-when="ChoiceAction" 
								choice-action="$ctrl.element"
								on-clicked="$ctrl.onElementClicked"/>
	<subscene-narrator ng-switch-when="Narrator" narrator="$ctrl.element"/>
	<story-character ng-switch-when="Character" character="$ctrl.element"/>
</span>