<span ng-switch="$ctrl.element._type">
	<subscene-choice-action-editor ng-switch-when="ChoiceAction" choice-action="$ctrl.element"/>
	<subscene-narrator-editor ng-switch-when="Narrator" narrator="$ctrl.element"/>
	<story-character-editor ng-switch-when="Character" character="$ctrl.element"/>
</span>