<md-card>
	
	<md-card-content>
	
		<story-metadata metadata="$ctrl.story.metadata"></story-metadata>
	
	</md-card-content>

</md-card>

<md-card>

	<md-card-title>Characters</md-card-title>

	<md-card-content layout="row">
	
		<story-character ng-repeat="character in $ctrl.story.content.characters" character="character"></story-character>
	
	</md-card-content>

</md-card>

<md-card>

	<md-card-title>Scene: {{$ctrl.story.content.scene.name}}</md-card-title>

</md-card>

<ul>
	<tree-view-scene-elements elements=$ctrl.story.content.scene.elements>
</ul>
