<span ng-repeat="element in $ctrl.character.elements"
		ng-switch="element._type">

	<character-emotion-value ng-switch-when="Emotion" value="element.value"/>

	<span ng-switch-when="Speech">{{element.value}}</span>
</span>
<div>{{$ctrl.character.name}}</div>