<md-card>
	<md-card-content>
		<story-metadata metadata="$ctrl.story.metadata"></story-metadata>
	</md-card-content>
</md-card>

<message-player-scene-elements elements="$ctrl.sceneElementsHistory"/>

<message-player-scene-elements apply-choice="$ctrl.applyChoice" 
									elements="$ctrl.sceneElements"/>